* {
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: column;
    padding: 50px 0 20px;
    align-items: center;
}
.selectOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.items{
    display: flex;
    gap: 100px;
    padding: 50px 0;
}
.items img{
    height: 100px;
    padding-bottom: 40px;
}
.items div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items button{
    padding: 5px 40px;
    border: 2px solid #000000;
    background: #ffffff;
    border-radius: 5px;
}
.result{
    max-width: 400px;
    border: 5px solid #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding: 10px;
}